### Import Pandas Library

In [1]:
import pandas as pd

### Read data from provided CSV file

In [2]:
df = pd.read_csv("tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Display the type of Data

In [3]:
df.dtypes

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

### Display columns of Data Frame

In [4]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

### Extract and display the first few rows of the following columns 
    - Total_Bill
    - Tip
    - Sex

In [5]:
selected_columns = ['total_bill', 'tip', 'sex']
selected_data = df.loc[:, selected_columns].head()
#selected_data = df.loc[:, ('total_bill','tip','sex')].head()

print(selected_data)

   total_bill   tip     sex
0       16.99  1.01  Female
1       10.34  1.66    Male
2       21.01  3.50    Male
3       23.68  3.31    Male
4       24.59  3.61  Female

### Display and Sort values of Day and Total_Bill in Descending Order

In [6]:
#sorted_data = df[['day', 'total_bill']].sort_values(by=['day', 'total_bill'], ascending=False)
sorts=["day","total_bill"]
sorted_data=df[sorts].sort_values(by=sorts,ascending=False)
print(sorted_data)

      day  total_bill
197  Thur       43.11
142  Thur       41.19
85   Thur       34.83
141  Thur       34.30
83   Thur       32.68
..    ...         ...
97    Fri       12.03
100   Fri       11.35
226   Fri       10.09
222   Fri        8.58
92    Fri        5.75

[244 rows x 2 columns]

### Display Unique Days from Data

In [7]:
unique_days = df['day'].unique()
print(unique_days)

['Sun' 'Sat' 'Thur' 'Fri']

### Change the Value of Tip in Second Row to '2' and Display the Data

In [8]:
df.loc[1, 'tip'] = 2
print(df.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  2.00    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Add new column "TOTAL" = Total Bill + Tip

In [9]:
df['TOTAL'] = df['total_bill'] + df['tip']
print(df)

     total_bill   tip     sex smoker   day    time  size  TOTAL
0         16.99  1.01  Female     No   Sun  Dinner     2  18.00
1         10.34  2.00    Male     No   Sun  Dinner     3  12.34
2         21.01  3.50    Male     No   Sun  Dinner     3  24.51
3         23.68  3.31    Male     No   Sun  Dinner     2  26.99
4         24.59  3.61  Female     No   Sun  Dinner     4  28.20
..          ...   ...     ...    ...   ...     ...   ...    ...
239       29.03  5.92    Male     No   Sat  Dinner     3  34.95
240       27.18  2.00  Female    Yes   Sat  Dinner     2  29.18
241       22.67  2.00    Male    Yes   Sat  Dinner     2  24.67
242       17.82  1.75    Male     No   Sat  Dinner     2  19.57
243       18.78  3.00  Female     No  Thur  Dinner     2  21.78

[244 rows x 8 columns]

### Store the names of columns in "Cols" variable

In [10]:
Cols = df.columns
print(Cols)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size', 'TOTAL'], dtype='object')

### Create a List (tmp) of Column in following order
### 6, 2, 4, 5

In [11]:
tmp = df.columns[[6, 2, 4, 5]].tolist()
print(tmp)

['size', 'sex', 'day', 'time']

### Create a new Dataframe with Columns from 'Tmp'

In [12]:
new_df = df.loc[:, tmp]

print(new_df)

     size     sex   day    time
0       2  Female   Sun  Dinner
1       3    Male   Sun  Dinner
2       3    Male   Sun  Dinner
3       2    Male   Sun  Dinner
4       4  Female   Sun  Dinner
..    ...     ...   ...     ...
239     3    Male   Sat  Dinner
240     2  Female   Sat  Dinner
241     2    Male   Sat  Dinner
242     2    Male   Sat  Dinner
243     2  Female  Thur  Dinner

[244 rows x 4 columns]